html {
    height: 100%;}



    #content {
        background-color: #fff;
        border: 3px double #31373f;
        color: #31373f;
        display: inline-block;
        padding: 30px 50px;
        margin: 20px auto 50px auto;
        max-width: 580px;
        min-height: 4em;
       
       overflow: auto;
        text-align: center;}



h1 {
    width: 278px;
    height: 112px;
    margin: 0px auto 0px auto;
    padding-top: 40px;
    font-style: italic;
 }

 #title {
    font-size: 120%;
    font-weight: bold;}
.true, .false {
    background: url("./images/tick-cross.png");
    float:right;
    height: 25px;
    width: 25px;}
    .false {
    background-position:  0px -25px;}

        .message {
            font-weight: bold;
            line-height: 1.5em;
            height: 2em;
            clear: left;
            min-width: 10em;}



   

     

